/* #region Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tm-dark: #000000;
  --tm-dark-variant: #0F0E17;
  --tm-primary: #6ECBE3;
  --tm-accent: #E53170;
  --tm-light: #FFFFFF;
}

body {
  font-family: 'Poppins', sans-serif
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

main {
  padding: 3rem 0;
}
/* #endregion Common */
/* #region Debug */
.debug header {
  background-color: var(--tm-accent);
  height: 200px;
}

.debug main {
  background-color: var(--tm-primary);
  height: 600px;
}

.debug footer {
  background-color: var(--tm-accent);
  height: 200px;
}

.debug .card {
  background-color: var(--tm-dark-variant);
  height: 120px;
}

/* #endregion Debug */
/* #region Utilities */

.container {
  width: 70%;
  margin: auto;
}
.row {
  margin: 0 -1rem;
}
.row::after,
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.col-4 {
  width: calc(100% / 3);
  padding: 1rem;
  float: left
}

.left {
  float: left;
}
.text-center {
  text-align: center;
}

/* #endregion Utilities */

/* #region Header */

header {
  text-align: center;
}

header h1 {
  color: var(--tm-accent);
  font-family: 'Fredoka One', cursive;
  padding: 2rem 0;
}
/* #endregion Header */

/* #region Main */

.card {
  background-color: var(--tm-dark-variant);
  color: var(--tm-light);
  border-radius: 0.5rem;
  box-shadow: 4px 6px 8px darkgrey;
}

.card:hover {
  box-shadow: none;
  cursor: pointer;
}

.card img {
  height: 100px;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.card .details h3 {
  padding-top: 0.5rem;
}

.card a {
  color: var(--tm-primary);
}

.card a:hover {
  text-decoration: underline;
}

/* #endregion Main */