* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu a {
  padding: 0 1rem
}