/* Common rules */

:root {
  --bol-dark: #3c0f0f;
  --bol-secondary: #20A9E5;
  --bol-primary: #4EA0FF;
  --bol-gray: #808080;
  --bol-primary-lite: #B1E5F2;
  --bol-white: #FFFFFF;
}
/* header */

header {
  background-color: var(--bol-primary);
  background-image: url("../img/pattern.png");
  background-size: 18%;

}

.logo {
  height: 50px;
  margin: 1.5rem 0.5rem 0;
}