* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  /* Color Palette 
background: #000000;
background: #0061FF;
background: #0093CE;
background: #0D2481;
background: #61082B;
background: #A2D39B;
background: #B4D0E7;
background: #D5001F;
background: #FF1C1C;
background: #FFD830;
*/
  --db-dark: #000000;
  --db-white: #FFFFFF;
  --db-primary-light: #B4D0E7;
}


/* Utilities */
.d_flex {
  display: flex;
}

.container {
  width: 60%;
  margin: auto;
}

.container_lg {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}


[class^="col-"] {
  padding: 1rem;
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-12 {
  width: 100%;
}



/* Debug */

.debug header {
  /*  height: 80px; */
}

.debug .menu_left,
.debug .menu_right {
  background-color: red;
}


.debug .jumbotron {
  height: 500px;
}

.debug .container_lg {
  background-color: green;
  height: 100%;

}

.debug [class^="col-"] {
  border: 1px solid black;
  background-color: aqua;
  height: 360px;
}

.debug .team {
  /* height: 400px; */
  background-color: red;
}

.debug .call_to_action {
  height: 300px;
  background-color: var(--db-primary-light);
}

.debug section {
  margin-bottom: 3rem;
}

.debug .faq {
  height: 500px;
  background-color: red;
}

.debug footer {
  height: 500px;
  background-color: var(--db-dark);
}

.debug .footer_menu {
  height: 400px;
}

/* Header */

header .navbar {
  display: flex;
  justify-content: space-between;
}


header {
  background-color: var(--db-white);
  box-shadow: 0 0 5px black;
  padding: 1rem;
}

/* Main */

.jumbotron {
  background-color: var(--db-primary-light);
}

/* I Blocchi colorati */

.team .left,
.team .center,
.team .right {
  flex-grow: 1;
}

.team .left,
.team .right {
  flex-wrap: wrap;
}

.team .box {
  width: calc(100% / 2);
  border: 1px solid;
  aspect-ratio: 1 / 1;

}
/* Footer */

.footer_menu {
  flex-grow: 1;
  border: 1px solid;
}
